// Components
$primary-color: #45AAF3;
$primary-color-light: #D2EFF7;
$primary-color-xlight: #F5F5FF;
$secondary-color: #FFFFFF;
$accent-color: #f34545;
$positive-color-xlight: #e9ffea;

// Fonts
$normal-font-color: #000000;
$light-font-color: #606060;
$xlight-font-color: #A0A0A0;